::ng-deep mat-option:last-child:before {
    content: unset !important;
}
  
::ng-deep mat-option:last-child .mat-option-text {
    display: unset!important;
}

.formImportProduct{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
:host mat-form-field.mat-form-field {
    font-size: 16px;
    color: var(--mainFormColor);
}
:host ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: var(--mainFormColor) !important;
}

:host ::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color: var(--mainFormColor) !important;
} 

:host ::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: var(--mainFormColor) !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--mainFormColor) !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-end,
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0 !important;
}

.formImport{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}