<footer class="footer col">
  <div class="grid wide">
  <div class="row sm-gutter">                                   
      <div class="col l-12">
          <div class="footer__content">
              <div class="footer__header">
                  <div class="footer__header-order">
                      <i class="bhx-sship"></i>
                      <div class="footer__header-order--description">
                          <span>Đặt hàng online<b> giao tận nhà ĐÚNG GIỜ</b>
                          (nếu trễ tặng PMH 20.000đ)</span>
                      </div>
                  </div>
                  <div class="footer__header-change">
                      <i class="bhx1-swap"></i>
                      <div class="footer__header-order--description2">
                          <span>Đổi, trả sản phẩm <b>&nbsp;trong 7 ngày</b></span>
                      </div>
                  </div>
              </div> 
              <div class="footer__body">
                  <div class="col l-6" style="background-color: white;margin-bottom: 10px;">
                      <div class="footer__body-title">
                          <h4>Tổng đài: 1900.1908 - 208.3622.9900 (7:00 - 21:30)</h4>
                      </div>
                      <div class="footer__body--description">
                          <div class="col l-4">
                              <ul>
                                  <li  class="footer__body--description-link"><a href=""></a>Chính sách giao hàng</li>
                                  <li  class="footer__body--description-link"><a href="" ></a>Hóa đơn điện tử</li>
                                  <li  class="footer__body--description-link"><a href="" ></a>Giới thiệu công ty</li>
                              </ul>
                          </div>
                          <div class="col l-4">
                              <ul>
                                  <li  class="footer__body--description-link"><a href="" ></a>Chính sách đổi trả</li>
                                  <li  class="footer__body--description-link"><a href="" ></a>hướng dẫn mua hàng</li>
                                  <li  class="footer__body--description-link"><a href="" ></a>Cần thuê mặt bằng</li>
                              </ul>
                          </div>
                          <div class="col l-4">
                             <ul>
                              <li  class="footer__body--description-link"><a href="" ></a>Liên hệ</li>
                              <li  class="footer__body--description-link"><a href="" ></a>Quy chế hoạt động</li>
                          </ul>
                          </div>
                      </div>
                      <div class="marked_group_spring_2022_wrapper" style="margin-top: 20px; margin-left: 20px; margin-bottom: 30px;">
                          <button class="btn" style="background-color: var( --primary-color); color: var(--white-color); font-size: 1.2rem;height: 28px;">
                             Tuyển dụng
                          </button>
                          <span style="color:#288AD6; font-size: 1.4rem; font-weight: 500;margin-left: 10px;">công việt đang chờ bạn</span>
                          <p class="marked_group_spring_2022" style="margin-top:auto">({{utilityService.groupedInfo}})</p>
                      </div>
                  </div>
                  <div class="col l-6 hide-on-mobile" style="background-color: white;margin-bottom: 10px;">
                      <div class="footer__body-title">
                          <h4>Đăng ký chào hàng vào Siêu thị online</h4>
                          <h4 style="color: #288AD6; padding-top: 0; padding-bottom: 0;">Hệ thống cửa hàng của siêu thị Siêu thị online</h4>
                          <span style="color: #288AD6; padding-top: 0;margin-left: 10px; font-size: 1.2rem;">cửa hàng sắp khai trương</span>
                      </div>
                  </div>
                  
              </div>                                            
          </div>                                        
      </div>
  </div>
</div>
</footer>