.secondLogin{
    min-width: 320px;
    max-width: 550px;
    background: white;
    padding:20px 40px;

    margin: auto;

    margin-block:100px;
    font-size:1.5rem;
}

.secondLogin .secondLogin_phone,
.secondLogin .secondLogin_phone input,
.secondLogin .secondLogin_password,
.secondLogin .secondLogin_password input{
    font-size:1.5rem;
}
.secondLogin .secondLogin_phone,
.secondLogin .secondLogin_password{
    position: relative;
}

.secondLogin .secondLogin_phone::after{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1.7rem" height="1.7rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"%3E%3Cpath d="M24 13h-2a3.003 3.003 0 0 0-3-3V8a5.006 5.006 0 0 1 5 5z" fill="currentColor"%2F%3E%3Cpath d="M28 13h-2a7.008 7.008 0 0 0-7-7V4a9.01 9.01 0 0 1 9 9z" fill="currentColor"%2F%3E%3Cpath d="M20.333 21.482l2.24-2.24a2.167 2.167 0 0 1 2.337-.48l2.728 1.092A2.167 2.167 0 0 1 29 21.866v4.961a2.167 2.167 0 0 1-2.284 2.169C7.594 27.806 3.732 11.61 3.015 5.408A2.162 2.162 0 0 1 5.169 3h4.873a2.167 2.167 0 0 1 2.012 1.362l1.091 2.728a2.167 2.167 0 0 1-.48 2.337l-2.24 2.24s1.242 8.732 9.908 9.815z" fill="currentColor"%2F%3E%3C%2Fsvg%3E');
    opacity:0.6;
    position:absolute;
    left:7px;
    top:50%;
    transform: translateY(-50%);
}

.secondLogin .secondLogin_password::after{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1.7rem" height="1.7rem" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"%3E%3Cpath class="clr-i-solid clr-i-solid-path-1" d="M26 15v-4.28a8.2 8.2 0 0 0-8-8.36a8.2 8.2 0 0 0-8 8.36V15H7v17a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V15zm-7 10.23V28h-2v-2.86a2.4 2.4 0 1 1 2 .09zM24 15H12v-4.28a6.2 6.2 0 0 1 6-6.36a6.2 6.2 0 0 1 6 6.36z" fill="currentColor"%2F%3E%3C%2Fsvg%3E');
    opacity:0.6;
    position:absolute;
    left:7px;
    top:50%;
    transform: translateY(-50%);
}

.secondLogin .secondLogin_phone label,
.secondLogin .secondLogin_password label{
    position: absolute;
    left:40px;
    top:5px;
    opacity: 0.7;
}

.secondLogin .secondLogin_phone input,
.secondLogin .secondLogin_password input{
    padding-left:40px;
    padding-top: 30px;
    border-radius: 5px;
    background:#E8F0FE;
}
.secondLogin .cross_line{
    position: relative;
    padding-block: 5px;

}
.secondLogin .cross_line::after{
    content:"Hoặc đăng ký";
    color: rgba(0, 0, 0, 0.541);
    background:white;
    font-size:1.3rem;
    position:absolute;
    top: 18%;
    left:50%;
    transform:translateX(-50%);
    padding-inline:10px;
}
