/****************************************************************/
*{
    box-sizing: border-box;
}
.dashboard_container{
    --background-1:#00B74A;
    --background-2:#673AB7;
    --background-3:#F39C12;
    --background-4:#F93154;
    --color-1:white;
}
.first_row_content{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    padding:15px;
}

.item{
    padding-block:5px;
    padding-left: 5px;
    color: var(--color-1);
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item:nth-child(1){
    background: var(--background-1); 
    
}
.item:nth-child(2){
    background: var(--background-2); 
}
.item:nth-child(3){
    background: var(--background-3); 
}
.item:nth-child(4){
    background: var(--background-4); 
}
/* .item:nth-child(1) .dark_column{
    background: var(--background-1);
}
.item:nth-child(2) .dark_column{
    background: var(--background-2);
}
.item:nth-child(3) .dark_column{
    background: var(--background-3);
}
.item:nth-child(4) .dark_column{
    background: var(--background-4);
} */

.item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.item p{
    margin: 0;
}
.item .title_1{
    font-size:28px;
}
.item .title_2{
    font-size:18px;
}
.item .title_3{
    font-size:20px;
}
.item .dark_column{
    height:100%;
    width:72px;
    /* border-radius: 50%; */
    position:absolute;
    right:0px;
    top:0px;
    background:rgba(0,0,0,0.12);
}
.dark_column{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:5px;
}
.item:nth-child(1) .dark_column::after{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"%3E%3Cpath fill="white" d="M13 17a2 2 0 1 0 3.999.001A2 2 0 0 0 13 17zM3 17a2 2 0 1 0 4 0a2 2 0 0 0-4 0zm3.547-4.828L17.615 9.01A.564.564 0 0 0 18 8.5V3H4V1.4c0-.22-.181-.4-.399-.4H.399A.401.401 0 0 0 0 1.4V3h2l1.91 8.957l.09.943v1.649c0 .219.18.4.4.4h13.2c.22 0 .4-.182.4-.4V13H6.752c-1.15 0-1.174-.551-.205-.828z"%2F%3E%3C%2Fsvg%3E');
    zoom:2;
}
.item:nth-child(2) .dark_column::after{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"%3E%3Cg fill="white"%3E%3Cpath d="M10.5 8a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0z"%2F%3E%3Cpath d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    zoom:2;
}
.item:nth-child(3) .dark_column::after{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1.25em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 512"%3E%3Cpath fill="white" d="M352 288h-16v-88c0-4.42-3.58-8-8-8h-13.58c-4.74 0-9.37 1.4-13.31 4.03l-15.33 10.22a7.994 7.994 0 0 0-2.22 11.09l8.88 13.31a7.994 7.994 0 0 0 11.09 2.22l.47-.31V288h-16c-4.42 0-8 3.58-8 8v16c0 4.42 3.58 8 8 8h64c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8zM608 64H32C14.33 64 0 78.33 0 96v320c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V96c0-17.67-14.33-32-32-32zM48 400v-64c35.35 0 64 28.65 64 64H48zm0-224v-64h64c0 35.35-28.65 64-64 64zm272 192c-53.02 0-96-50.15-96-112c0-61.86 42.98-112 96-112s96 50.14 96 112c0 61.87-43 112-96 112zm272 32h-64c0-35.35 28.65-64 64-64v64zm0-224c-35.35 0-64-28.65-64-64h64v64z"%2F%3E%3C%2Fsvg%3E');
    zoom:2;
}
.item:nth-child(4) .dark_column::after{
    content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"%3E%3Cellipse cx="18" cy="11.28" fill="white" rx="4.76" ry="4.7"%2F%3E%3Cpath fill="white" d="M10.78 11.75h.48v-.43a6.7 6.7 0 0 1 3.75-6a4.62 4.62 0 1 0-4.21 6.46Zm13.98-.47v.43h.48A4.58 4.58 0 1 0 21 5.29a6.7 6.7 0 0 1 3.76 5.99Zm-2.47 5.17a21.45 21.45 0 0 1 5.71 2a2.71 2.71 0 0 1 .68.53H34v-3.42a.72.72 0 0 0-.38-.64a18 18 0 0 0-8.4-2.05h-.66a6.66 6.66 0 0 1-2.27 3.58ZM6.53 20.92A2.76 2.76 0 0 1 8 18.47a21.45 21.45 0 0 1 5.71-2a6.66 6.66 0 0 1-2.27-3.55h-.66a18 18 0 0 0-8.4 2.05a.72.72 0 0 0-.38.64V22h4.53Zm14.93 5.77h5.96v1.4h-5.96z"%2F%3E%3Cpath fill="white" d="M32.81 21.26h-6.87v-1a1 1 0 0 0-2 0v1H22v-2.83a20.17 20.17 0 0 0-4-.43a19.27 19.27 0 0 0-9.06 2.22a.76.76 0 0 0-.41.68v5.61h7.11v6.09a1 1 0 0 0 1 1h16.17a1 1 0 0 0 1-1V22.26a1 1 0 0 0-1-1Zm-1 10.36H17.64v-8.36h6.3v.91a1 1 0 0 0 2 0v-.91h5.87Z"%2F%3E%3C%2Fsvg%3E');
    zoom:2;
}
/****************************************************************/
.item_wrapper{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item_wrapper:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.second_row_content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    padding:15px;
    padding-top: 2px;
}
.second_row_content #item{
    /* background:rgba(0, 0, 0, 0.472); */
    background: white;
    padding: 10px;
}
.custom{
    background:#e2e2e2;
    padding: 10px;
    padding-top:20px;
    padding-left: 20px;
    display: flex;
    gap: 10px;
}
.custom .button{
    height: 60px;
    width: 60px;
    outline: none;
    border: none;
    background: white;
}
.custom .button::after{
    content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"%3E%3Cpath fill="black" d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0z"%2F%3E%3C%2Fsvg%3E');
}

.third_row_content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    padding:15px;
    padding-top: 2px;
}
.third_row_content #pie,.third_row_content #chart{
    /* background:rgba(0, 0, 0, 0.472); */
    background: white;
    padding: 10px;
}
.fourth_row_content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    padding:15px;
    padding-top: 2px;
}
.fourth_row_content #chart,.fourth_row_content #item{
    /* background:rgba(0, 0, 0, 0.472); */
    background: white;
    padding: 10px;
}
.fifth_row_content{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:15px;
    padding:15px;
    padding-top: 2px;
}

.fifth_row_content #chart,.fifth_row_content #pyramid{
    background: white;
    padding: 10px;
}
/* .second_row_content ::ng-deep.dxc-arg-elements {
    display: none;
} */
::ng-deep .options {
    padding: 20px;
    background-color: #e2e2e2;
}

::ng-deep .option {
margin-top: 10px;
}

::ng-deep .caption {
font-size: 18px;
font-weight: 500;
}

::ng-deep .option > span {
margin-right: 10px;
}

::ng-deep .option > .dx-widget {
display: inline-block;
vertical-align: middle;
}
::ng-deep #item{
}
mat-form-field.mat-form-field {
    font-size: 16px;
    color: var(--tableMainColor) !important;
}

/******************************** Custom input angular material ********************************/
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: var(--tableMainColor) !important;
}

::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color: var(--tableMainColor) !important;
} 

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: var(--tableMainColor) !important;
}
/****************************************************************/